nav {
  background-color: rgb(0, 6, 125);
  color: rgb(255, 255, 255);
  height: 65px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
